.App {
  max-width: 850px;
  margin: 60px auto;
}
.App button {
  color: aliceblue;
  font-family: "Raleway";
  border-radius: 8px;
  border: 2px solid white;
  background: none;
  padding: 6px 12px;
  font-size: 1 em;
  font-weight: bold;
}
.App button:hover {
  cursor: pointer;
  background: #c23866;
}
.card-grid {
  margin: 50px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
